body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#f4f7fb;
}


/* Main container */
.dashboard-container{
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background:white;
    border-radius:12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}


/* Main heading centered */
.dashboard-title{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color:#222;
}


/* Grid layout */
.dashboard-grid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    flex-wrap: nowrap;

    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    border: rgba(0,0,0,0.05);
}




/* Each item */
.dashboard-item{
    width: 100px;
}


/* Image */
.dashboard-item img{
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}


/* Button */
.dashboard-item a{
    display: block;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
    background: #d9dee4;
    color:#333;
    font-weight: bold;
    border:1px solid #aaa;
    transition: all 0.25s ease;
}

/* Hover lift effect */
.dashboard-item a:hover{
    background:#7fa4cc;
    color:white;
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.2);
}


.dashboard-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    font-family: Arial, Helvetica, sans-serif;
}

.dashboard-table th {
    background: #e9edf2;
    padding: 12px;
    text-align: left;
    font-weight: bold;
}

.dashboard-table td {
    padding: 12px;
    border-top: 1px solid #ddd;
    font-size: 14px;
}

.dashboard-table tr:hover {
    background: #f5f8fc;
}


.action-link {
    color: #6a5acd;
    text-decoration: none;
    font-weight: bold;
}

.action-link:hover {
    text-decoration: underline;
}

.update-btn {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    background: #7fa4cc;
    color: white;
    cursor: pointer;
}

.update-btn:hover {
    background: #6c93bd;
}

.dashboard-table select {
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-back{
    display:inline-block;
    margin-bottom:20px;
    color:#6a5acd;
    text-decoration:none;
    font-weight:bold;
}

.form-back:hover{
    text-decoration:underline;
}
