*{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;

}

html{
    border: 2px solid red;
}

.main-title{
    font-size: 2em;
}

.main-sub-title{
    font-size: 1em;
}

.main-title, .main-sub-title{
    font-weight: 200;
    color: rgb(75, 75, 75);
}

.nav-bar{
    border: 1px solid black;
    
}

.nav-link{
    color: rgb(67, 113, 193, 0.8);
    text-decoration: none;
    margin-right: 1rem;
}

.nav-link:hover{
    color: rgba(67, 113, 193);
    font-weight: 500;

}